main h1,
main h2 {
    font-variant: small-caps;
    /* font-weight: 600; */
    /* text-decoration: underline;
    text-underline-offset: 2px; */
}

main h2,
main h4 {
    margin: 0;
    padding: 1.5em;
}

#hero {
    padding: 20% 5% 10% 5%;
    background: linear-gradient(45deg, rgba(62, 3, 3, 1) 0%, rgb(189, 22, 10) 100%);
}

#hero div {
    padding: 5%;
    background: black;
}

#logo-section {
    background-image: url('../../../media/logo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 300px;
    width: 300px !important;
    position: relative;
    margin: -20% auto 0 auto;
    border-radius: 50%;
}

#info-section h1 {
    margin: .5em;
    font-size: 20px;
}

#info-section a {
    display: block;
    margin: 1em auto;
    padding: 1em 0;
    background: wheat;
    color: black;
    border: 1px solid black;
    box-shadow: 4px 5px 5px rgb(141, 125, 125);
}

#latest h4,
#about-us h4 {
    text-align: left;
}

#latest {
    background-color: black;
    padding: 10% 5%;
}

#event-pic {
    background-image: url('https://picsum.photos/seed/random/300/300');
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 1em;
}

.event {
    margin: 2% auto;
    padding: 5%;
    background: rgb(41, 41, 41)
}

#about-us {
    width: 100vw;
}

#about-us div {
    background-image: url('https://picsum.photos/seed/1000/300/300');
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

@media only screen and (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 10%;
        padding-bottom: 5%;
    }

    #latest div {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}