main h1,
main h2 {
    font-variant: small-caps;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
}

main h2,
main h4 {
    margin: 0;
    padding: 1.5em;
}

#logo-section {
    background-image: url('../../../media/logo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 300px;
    width: 300px !important;
    margin: 5vh auto;
    border-radius: 50%;
}

#info-section h1 {
    margin: .5em;
    font-size: 30px;
}

#info-section a {
    display: block;
    margin: 1em 5em 2em 5em;
    padding: 1em 0;
    color: black;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 4px 5px 5px rgb(36, 36, 36);
}

#latest h4,
#about-us h4 {
    text-align: left;
}

#latest {
    background-color: #0c0c22;
    color: white;
}

#latest div {
    background-image: url('https://picsum.photos/seed/random/300/300');
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

#about-us {
    width: 100vw;
}

#about-us div {
    background-image: url('https://picsum.photos/seed/1000/300/300');
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

@media only screen and (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 10%;
        padding-bottom: 5%;
    }

    #latest div {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}