main h1,
main h2 {
    font-variant: small-caps;
}

main h2,
main h4 {
    margin: 0;
    padding: 1.5em;
}

#hero {
    padding: 20% 5% 10% 5%;
    background: linear-gradient(45deg, rgba(62, 3, 3, 1) 0%, rgb(189, 22, 10) 100%);
}

#hero div {
    padding: 5%;
    background: black;
}

#logo-section {
    background-image: url('../../../media/logo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 200px;
    width: 200px !important;
    position: relative;
    margin: -20% auto 0 auto;
    border-radius: 50%;
}

#info-section h1 {
    margin: .5em;
    font-size: 20px;
}

#info-section a {
    display: block;
    margin: 1em auto;
    padding: 1em 0;
    background: wheat;
    color: black;
    box-shadow: 1px 1px 1px rgb(235, 178, 146),
        2px 2px 2px rgb(235, 178, 146),
        3px 3px 3px rgb(235, 178, 146),
        4px 4px 4px rgb(235, 178, 146),
        4px 5px 4px rgb(235, 178, 146);
}

#latest {
    background-color: black;
    padding: 10%;
}

#event-pic {
    background-image: url('https://picsum.photos/seed/random/500/500');
    background-position: center;
    background-size: contain;
    height: 200px;
    width: 200px;
    margin: 1em auto;
    border-radius: 1em;
}

#events {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.event {
    margin: 2% auto;
    padding: 5%;
    background: rgb(20, 20, 20)
}

.info {
    text-align: left;
}

.info h2,
.info h4 {
    padding: 0 0 1em 0;
}

#about-us {
    padding: 10%;
}

#about-us div {
    background-image: url('/src/media/group-icon.png');
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: lightgray;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

@media only screen and (min-width: 700px) {

    #hero,
    #latest,
    #about-us {
        position: relative;
        padding: 5%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;
        align-items: center;
    }

    #logo-section {
        width: 300px !important;
        height: 300px;
    }


    #event-pic {
        grid-column: 2/3;
        grid-row: 1/2;
        position: absolute;
        right: 0;
    }

    #event-pic,
    #about-us div {
        width: 250px;
        height: 250px;
    }

    #about-us div {
        margin: 0;
    }
}

@media only screen and (min-width: 900px) {
    #info-section a {
        margin: 1em 2em;
    }

    #event-pic,
    #about-us div {
        position: relative;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {

    #hero,
    #latest,
    #about-us {
        padding: 5% 10%;
    }

    #info-section a {
        margin: 1em 3em;
    }

    #event-pic,
    #about-us div {
        width: 300px;
        height: 300px;
    }
}