body {
  background: rgb(62, 3, 3);
  background: linear-gradient(45deg, rgba(62, 3, 3, 1) 0%, rgba(208, 45, 45, 1) 100%);
  color: white;
  font-family: sans-serif;
}

h4 {
  color: darkgray;
}

.App {
  text-align: center;
}

.App a {
  text-decoration: none;
  font-weight: bolder;
}