header {
    border-bottom: 1px solid black;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social {
    display: flex;
    justify-content: end;
}

#social ul {
    justify-content: space-evenly;
    width: 25%;
    position: relative;
    right: 0;
    top: 0;
    border-bottom: 1px solid black;
    margin: 0 1%;
    padding: 0;
}

#social li {
    margin: .3em;
    border-bottom: 1px solid black;
}

#social a {
    color: rgb(47, 47, 85);
}

#social a:hover {
    color: red;
    transform: scale(1.2);
}

#nav-links {
    margin: 0;
    padding: 1em 0;
}

#nav-links a {
    color: rgb(95, 95, 95);
}

#nav-links a:hover {
    color: red;
}