header {
    border-bottom: 1px solid black;
    background-color: rgb(15, 13, 8);
    color: white;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header a {
    color: white;
}

header a:hover {
    color: rgb(167, 7, 7);
    transform: scale(1.2);
}

#social {
    display: flex;
    justify-content: end;
}

#social ul {
    justify-content: space-evenly;
    width: 25%;
    position: relative;
    right: 0;
    top: 0;
    border-bottom: 1px solid white;
    margin: 0 1%;
    padding: 0;
}

#social li {
    margin: .3em;
}

#nav-links {
    margin: 0;
    padding: 1em 0;
}